In [2]:
import pandas as pd

In [4]:
metrics_ann_glove_cosine = pd.read_csv("metrics/qdrant_gloVe_cosine_ann07_03_24_23:57.csv")
# df_pool = pd.read_csv("")

In [5]:
metrics_ann_glove_cosine

,ef_construct,m,ef,k,qps,recall,time_span_insert,time_span_search,time_span_points,timestamp
0,64,8,64,1,63.117982,0.872800,112.577086,39.608364,08_03_24_00:00,NaN
1,64,8,64,10,103.285136,0.782040,112.577086,24.204838,08_03_24_00:00,NaN
2,64,8,64,100,104.784739,0.723792,112.577086,23.858436,08_03_24_00:01,NaN
3,64,8,512,1,76.051785,0.940000,112.082505,32.872338,08_03_24_00:03,NaN
4,64,8,512,10,74.674949,0.931200,112.082505,33.478429,08_03_24_00:04,NaN
5,64,8,512,100,66.266422,0.902624,112.082505,37.726497,08_03_24_00:04,NaN
6,64,64,64,1,62.022061,0.967600,112.016499,40.308238,08_03_24_00:07,NaN
7,64,64,64,10,60.730850,0.949640,112.016499,41.165240,08_03_24_00:07,NaN
8,64,64,64,100,54.364652,0.922988,112.016499,45.985763,08_03_24_00:08,NaN
9,64,64,512,1,50.992370,0.996800,112.356369,49.026943,08_03_24_00:11,NaN
10,64,64,512,10,50.135640,0.993000,112.356369,49.864727,08_03_24_00:12,NaN
11,64,64,512,100,51.260401,0.970816,112.356369,48.770590,08_03_24_00:12,NaN
12,512,8,64,1,30.224557,0.982000,112.392183,82.714197,08_03_24_00:16,NaN
13,512,8,64,10,30.071298,0.979920,112.392183,83.135754,08_03_24_00:17,NaN
14,512,8,64,100,33.782255,0.936696,112.392183,74.003348,08_03_24_00:18,NaN
15,512,8,512,1,29.382130,0.997200,112.346989,85.085730,08_03_24_00:22,NaN
16,512,8,512,10,29.336557,0.996360,112.346989,85.217907,08_03_24_00:23,NaN
17,512,8,512,100,33.265966,0.978332,112.346989,75.151884,08_03_24_00:24,NaN
18,512,64,64,1,38.709154,0.999200,112.875909,64.584206,08_03_24_00:27,NaN
19,512,64,64,10,38.346945,0.997840,112.875909,65.194242,08_03_24_00:28,NaN
20,512,64,64,100,34.844946,0.993856,112.875909,71.746417,08_03_24_00:30,NaN
21,512,64,512,1,34.297242,1.000000,112.732247,72.892158,08_03_24_00:33,NaN
22,512,64,512,10,34.013503,1.000000,112.732247,73.500221,08_03_24_00:34,NaN
23,512,64,512,100,30.496524,0.999976,112.732247,81.976556,08_03_24_00:35,NaN

In [13]:
logs_ann_glove_cosine = pd.read_csv("docker_logs/ANN_gloVe_cosine.log", names=["CPU Usage (%)", "Memory usage (MB)", "Timestamp"])

In [8]:
logs_ann_glove_cosine["memory usage"] = logs_ann_glove_cosine["memory usage"][:4
                                                                              ]

    cpu usage     memory usage            timestamp
0       0.16%  9.695MiB / 5GiB  2024-03-07 23:41:09
1       0.02%  9.727MiB / 5GiB  2024-03-07 23:41:32
2       7.49%   13.5MiB / 5GiB  2024-03-07 23:41:39
3       0.03%  78.98MiB / 5GiB  2024-03-07 23:41:46
4       0.23%  9.707MiB / 5GiB  2024-03-07 23:43:04
..        ...              ...                  ...
373    99.50%  857.7MiB / 5GiB  2024-03-08 00:35:14
374    99.85%  858.3MiB / 5GiB  2024-03-08 00:35:21
375    99.03%  858.9MiB / 5GiB  2024-03-08 00:35:28
376   101.03%  859.8MiB / 5GiB  2024-03-08 00:35:35
377    98.93%  860.5MiB / 5GiB  2024-03-08 00:35:42

[378 rows x 3 columns]

In [14]:
import re
def convert_memory_to_mb(memory):
    matches = re.match(r'([\d.]+)(\w+)', memory)
    if matches:
        value = float(matches.group(1))
        unit = matches.group(2)
        if unit == "GiB":
            value = value * 1000
    else:
        print(memory)
    return value
(cpu):

logs_ann_glove_cosine["CPU Usage (%)"] = logs_ann_glove_cosine["CPU Usage (%)"].str.rstrip("%").astype(float)
logs_ann_glove_cosine["Memory usage (MB)"] = logs_ann_glove_cosine["Memory usage (MB)"].apply(convert_memory_to_mb)

In [15]:
logs_ann_glove_cosine

    cpu usage  memory usage            timestamp
0       0.16%         9.695  2024-03-07 23:41:09
1       0.02%         9.727  2024-03-07 23:41:32
2       7.49%        13.500  2024-03-07 23:41:39
3       0.03%        78.980  2024-03-07 23:41:46
4       0.23%         9.707  2024-03-07 23:43:04
..        ...           ...                  ...
373    99.50%       857.700  2024-03-08 00:35:14
374    99.85%       858.300  2024-03-08 00:35:21
375    99.03%       858.900  2024-03-08 00:35:28
376   101.03%       859.800  2024-03-08 00:35:35
377    98.93%       860.500  2024-03-08 00:35:42

[378 rows x 3 columns]